@use "sass:map";
@use "@angular/material" as mat;

@mixin colour($theme) {
  $color-config: mat.get-color-config($theme);
  $background: map.get($color-config, "background", "base");

  .card-container {
    background-color: $background;
  }
}
