@use "../../../styles/base" as *;

.img-container {
  min-height: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-container {
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-drop-shadow);
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transform: scale(1);
  transition: all cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.2s;
}

.card-container:hover {
  transform: scale(1.05);
  transition: all cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.2s;
}

.description {
  padding: 1.8em;
}

:host {
  box-shadow: var(--main-drop-shadow);
}

span {
  font-weight: 600;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
