@use 'sass:map';
@use '@angular/material' as mat;

@mixin colour($theme) {
    $color-config: mat.get-color-config($theme);
    $accent-palette: map.get($color-config, 'accent');
    .card-container {
        background-color: mat.get-color-from-palette($accent-palette, 100);
    }
  }