@use "../../styles/base" as *;

.img-container {
  min-height: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-container {
  @include border-radius();
  height: 100%;
  @include drop-shadow();
  overflow: hidden;
}

.description {
  padding: 1.8em;
}

:host {
  @include drop-shadow();
}

span {
  font-weight: 600;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
