@use "../../../styles/base" as *;

.toolbar {
  justify-content: space-between;
  font-weight: 800;
  @include drop-shadow();
}

.dark-mode-container {
  display: flex;
  align-items: center;
}

.dark-mode-text {
  font-weight: 600;
  font-size: 1rem;
}

@media (max-width: 500px) {
  .title {
    font-size: 1rem;
  }
}
