@use "../../../styles/base" as *;

.toolbar {
  justify-content: space-between;
  box-shadow: var(--main-drop-shadow);

  h1 {
    font-weight: 800;
  }
}

.dark-mode {
  &-text {
    font-weight: 600;
    font-size: 1rem;
  }

  &-container {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 1rem;
  }
}
