@use "sass:map";
@use "@angular/material" as mat;
@use "../../../styles/base" as *;

@mixin colour($theme) {
  $color-config: mat.get-color-config($theme);
  $foreground: map.get($color-config, "foreground", "base");
  $background: map.get($color-config, "background", "base");
  $foregroundHover: map.get($color-config, "foreground", "hover");
  $backgroundHover: map.get($color-config, "background", "hover");

  .btn {
    background-color: $background;
    color: $foreground;
    &:hover {
      background-color: $backgroundHover;
      color: $foregroundHover;
    }
  }
}
