@use "../../../styles/base" as *;

.detail-view {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  grid-column-gap: 100px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-height: 400px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-button {
  grid-column: 1/-1;
  justify-self: flex-start;

  .back-btn-text {
    margin-left: 0.6em;
  }
}

.btn {
  --main-drop-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
  transition: all 0.3s;
  padding: 0.5em 2em;
  border: 0;
  cursor: pointer;
  border-radius: 0.1em;
  box-shadow: var(--main-drop-shadow);
  &:hover {
    transition: all 0.3s;
  }
}

.raw-data {
  display: flex;
  gap: 3em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2;

    span {
      font-weight: 800;
    }
  }
}

.border-country-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 35em;
  margin-top: 2em;
  span {
    font-weight: 800;
  }
}

h2 {
  font-weight: 800;
  margin-bottom: 1em;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .detail-view {
    grid-template-columns: auto;
  }

  .border-country-container {
    max-width: 55em;
  }

  .raw-data {
    flex-direction: column;
  }
}
