@use "sass:map";
@use "@angular/material" as mat;
@use "../../../styles/base" as *;

@mixin colour($theme) {
  $color-config: mat.get-color-config($theme);
  $foreground: map.get($color-config, "foreground", "base");
  $background: map.get($color-config, "background", "base");
  $foregroundHover: map.get($color-config, "foreground", "hover");
  $backgroundHover: map.get($color-config, "background", "hover");

  .btn {
    --main-drop-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
    background-color: $background;
    color: $foreground;
    transition: all 0.3s;
    padding: 0.5em 2em;
    border: 0;
    cursor: pointer;
    border-radius: 0.1em;
    box-shadow: var(--main-drop-shadow);
    &:hover {
      background-color: $backgroundHover;
      color: $foregroundHover;
      transition: all 0.3s;
    }
  }
}
