<!-- <div class="form-group">
  <label
    class="custom-select"
    [ngClass]="{ 'open-region': selectRegionIsOpen }"
    for="regions"
  >
    <select
      class="regions-control"
      id="regions"
      name="regions"
      (change)="onChange($event)"
      (click)="onRegionClick()"
      (blur)="onRegionBlur()"
    >
      <option value="">Filter by Region</option>
      <option value="all">All</option>
      <option *ngFor="let region of regions">{{ region }}</option>
    </select>
  </label>
</div> -->

<div class="select-box">
  <div class="options-container" [ngClass]="{ active: selectRegionIsOpen }">
    <div class="option">
      <label>
        All
        <input
          type="radio"
          class="radio"
          name="region"
          value="All"
          (change)="onRegionChange($event)"
        />
      </label>
    </div>
    <div class="option" *ngFor="let region of regions">
      <label>
        {{ region }}
        <input
          type="radio"
          class="radio"
          name="region"
          value="{{ region }}"
          (change)="onRegionChange($event)"
        />
      </label>
    </div>
  </div>
  <div (click)="onRegionClick()" class="selected">{{ selectedRegion }}</div>
</div>
