@use "../../../styles/base" as *;

.form-group {
  position: relative;
}

.custom-select {
  position: relative;
  display: block;
  max-width: 400px;
  min-width: 180px;
  margin: 0 auto;
  z-index: 10;
  @include drop-shadow();
  @include border-radius();

  select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
  }
  &:after {
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 1.6em;
    font-family: "Material Icons";
    content: "\e5ce";
    pointer-events: none;
  }
}

.open-region:after {
  content: "\e5cf";
}

.arrow-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
