@use "../../../styles/base" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5em;
  margin-bottom: 1.5em;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}
