<app-header></app-header>
<div class="container">
  <input
    type="text"
    placeholder="Search for a country..."
    [formControl]="control"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let country of countries" [value]="country">{{
      country
    }}</mat-option>
  </mat-autocomplete>
  <mat-form-field appearance="outline">
    <mat-label>Filter By Region</mat-label>
    <mat-select>
      <mat-option *ngFor="let region of regions" [value]="region">{{
        region
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
