@use "sass:map";
@use "@angular/material" as mat;

@mixin colour($theme) {
  $color-config: mat.get-color-config($theme);
  $foreground: map.get($color-config, "foreground", "base");
  $background: map.get($color-config, "background", "base");
  $input-text-placeholder: map.get($color-config, "primary", "A100-contrast");

  .search-field {
    background-color: $background;
    color: $foreground;
  }

  .search-icon {
    color: $input-text-placeholder;
  }

  ::placeholder {
    color: $input-text-placeholder;
    font-size: 0.8rem;
    font-family: inherit;
  }
}
