@use "../../../styles/base" as *;

:host {
  width: 35%;
  min-width: 15rem;
}
::placeholder {
  font-size: 0.8rem;
  font-family: inherit;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: var(--main-drop-shadow);
}

.search-field {
  width: 100%;
  padding: 1.2em 3em 1.2em 4em;
  border: none;
  border-radius: var(--main-border-radius);
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.25rem;
  font-size: 1.3em;
}
