<form class="container">
  <app-filter-countries-input
    [filteredCountries]="filteredCountries"
    [countryControl]="countryControl"
  ></app-filter-countries-input>

  <div class="form-group">
    <label
      class="custom-select"
      [ngClass]="{ 'open-region': selectRegionIsOpen }"
      for="regions"
    >
      <select
        class="regions-control"
        id="regions"
        name="regions"
        (change)="onRegionChange($event)"
        (click)="onRegionClick()"
        (blur)="onRegionBlur()"
      >
        <option value="">Filter by Region</option>
        <option value="all">All</option>
        <option *ngFor="let region of regions">{{ region }}</option>
      </select>
    </label>
  </div>
</form>
