@use "../../styles/base" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}
