// Custom Theming for Angular Material000
@use "./styles/" as app;
@use "@angular/material" as mat;
@use "./app/components/card/card-theme" as card;
@use "./app/components/filter-countries-input/filter-countries-input-theme" as
  filterCountriesInputTheme;
@use "./app/components/filter-regions-input/filter-regions-input-theme" as
  filterRegionsInputTheme;
@use "./app/components/detail-view/detail-view-theme" as detailViewTheme;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

$custom-typography: mat.define-typography-config(
  $font-family: "Nunito Sans, sans-serif",
);

@include mat.core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-light: mat.define-palette(app.$custom-primary-light);
$primary-dark: mat.define-palette(app.$custom-primary-dark);
$accent-light: mat.define-palette(app.$custom-accent-light);
$accent-dark: mat.define-palette(app.$custom-accent-dark);

$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme-light: app.define-light-theme(
  (
    color: (
      primary: $primary-light,
      accent: $accent-light,
      warn: $warn,
    ),
  )
);
$theme-dark: app.define-dark-theme(
  (
    color: (
      primary: $primary-dark,
      accent: $accent-dark,
      warn: $warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@mixin render($lightOrDark) {
  @include mat.all-component-themes($lightOrDark);
  @include card.colour($lightOrDark);
  @include filterRegionsInputTheme.colour($lightOrDark);
  @include filterCountriesInputTheme.colour($lightOrDark);
  @include detailViewTheme.colour($lightOrDark);
}

.theme-light {
  @include render($theme-light);
}

.theme-dark {
  @include render($theme-dark);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}
