// Custom Theming for Angular Material000
@use "./styles/base";
@use "@angular/material" as mat;
@use './app/card/card-theme' as card;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

$custom-typography: mat.define-typography-config(
  $font-family: "Nunito Sans, sans-serif",
);

@include mat.core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rest-api-countries-primary: mat.define-palette(base.$custom-palette);

$rest-api-countries-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$rest-api-countries-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rest-api-countries-theme: mat.define-light-theme(
  (
    color: (
      primary: $rest-api-countries-primary,
      accent: $rest-api-countries-accent,
      warn: $rest-api-countries-warn,
    ),
  )
);
$rest-api-countries-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $rest-api-countries-primary,
      accent: $rest-api-countries-accent,
      warn: $rest-api-countries-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

.theme-light {
  @include mat.all-component-themes($rest-api-countries-theme);
  @include card.colour($rest-api-countries-theme);
}

.theme-dark {
  @include mat.all-component-themes($rest-api-countries-theme-dark);
  @include card.colour($rest-api-countries-theme-dark);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}
